html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

#footer { height: 60px }
.network-actions {margin-top: 5px;}

.container {
    width: auto;
    padding: 0px 15px;
}
.main {
    padding: 15px;
}
.container .credit {
    margin: 20px 0;
}
.member-item,
.project-item {
    padding: 5px;
}


/* custom
-----------*/
#editmembercancel { padding: 0; width: 65px; }
.member,
.project { margin-bottom: 20px; }
.member > .panel,
.project > .panel { margin-bottom: 5px; }
.member-header,
.project-header { font-size: 18px; font-weight: 500 }


.member-header:hover,
.project-header:hover,
.side-member-item:hover,
.side-project-item:hover,
.task-item:hover { cursor:pointer }
.task-item { padding: 10px 15px 10px 5px; }
.priority-votes { margin-right: 10px; }
.task-col { display: inline-block; }

.priority-down,
.priority-up { color: #333 }
.priority-up:hover,
.priority-down:hover { color: #428bca }
.task-content { width: 92%; }


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}
